<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bolero.Properties.Settings.Setting" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\USER\Desktop\Bolero\BoleroGArticles\Bolero\Bolero\Resources\BoleroDB.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>