<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bolero.Properties.Settings.chConn" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\USER\Desktop\Bolero\LocalMergedApplicationSol\Bolero\Bolero\Resources\BoleroDB.mdf;Integrated Security=True" />
        <add name="Bolero.Properties.Settings.BoleroDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Resources\BoleroDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>